[submodule "xen"]
	path = xen
	url = git@github.com:bpopovych/awe-xen.git
[submodule "firefox"]
	path = firefox
	url = git@github.com:bpopovych/awe-firefox.git
[submodule "eclipse"]
	path = eclipse
	url = git@github.com:bpopovych/awe-eclipse.git
[submodule "chrome"]
	path = chrome
	url = git@github.com:bpopovych/awe-chrome.git
[submodule "sweethome"]
	path = sweethome
	url = git@github.com:bpopovych/awe-sweethome.git
[submodule "office"]
	path = office
	url = git@github.com:bpopovych/awe-office.git
